@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Shabnam';
  src: url('/fonts/Shabnam/Shabnam.woff2') format('woff2'),
       url('/fonts/Shabnam/Shabnam.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@layer base {
  html {
    font-family: 'Shabnam', sans-serif;
  }
}
